<view class="page" id="page">
  <view class="img-header" id="imgHeader">
    <block wx:if="{{infoCardData}}">
      <image mode="aspectFill" src="{{infoCardData.imgUrl}}" class="head-img" />
    </block>
  </view>
  <info-card id="infoCard" infoCardData="{{infoCardData}}" wx:if="{{infoCardData}}" />
  <!-- <view class="bar" id="bar">
    <view class="bar-item {{barActive === '1' ? 'bar-item-active' : ''}}" bindtap="barSelect" data-barid="1">
      推荐美食
    </view>
    <view class="bar-item {{barActive === '2' ? 'bar-item-active' : ''}}" bindtap="barSelect" data-barid="2">
      精选点评
    </view>
    <view class="bar-item {{barActive === '3' ? 'bar-item-active' : ''}}" bindtap="barSelect" data-barid="3">
      附近热门
    </view>
  </view> -->
  <menu id="menu" wx:if="{{menuData}}" menuData="{{menuData}}" />
  <view id="afterMenu" />
  <remark-list id="remarkList" wx:if="{{infoCardData && remarkData}}" infoCardData="{{infoCardData}}" remarkData="{{remarkData}}" />
  <view id="afterRemark" />
  <near id="near" wx:if="{{nearData}}" nearData="{{nearData}}" />
</view>