.recommend-container {
  line-height: 1.6;
  width: 440rpx;
}

.recommend-title {
  font-size: 16px;
  margin-bottom: 8px;
}

.recommend-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.recommend-text {
  color: #1890ff;
}

.strong-text {
  /* font-size: 16px; */
  font-weight: bold;
}

.h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.h2 {
  font-size: 19px;
  font-weight: bold;
  margin: 7px 0;
}

.h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
}
.phone {
  color: #1890ff;
}
.web-url {
  color: #1890ff;
}