.near {
  background-color: #fff;
  color: #333;
  margin-top: 15px;
}
.near-title {
  font-size: 18px;
  box-sizing: border-box;
  padding: 30rpx;
}
.near-select-bar {
  display: flex;
  margin: 0 30rpx;
  border-bottom: 1px solid #ddd;
}
.near-select-item {
  position: relative;
  flex: 1;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #878b99;
}
.near-select-active {
  color: #333;
}
.near-select-active::after {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  left: 50%;
  margin-left: -30px;
  height: 2px;
  background-color: #ff4500;
}
.swiper {
  height: 820rpx;
}
.item-box {
  display: inline-block;
  width: 326rpx;
  margin-left: 30rpx;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-top: 10px;
  padding-bottom: 10px;
}
.item-box-img {
  width: 100%;
  height: 200rpx;
}
.item-box-name {
  font-size: 14px;
  box-sizing: border-box;
  padding: 0 16rpx;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.item-box-bar {
  margin-top: 6px;
  box-sizing: border-box;
  padding: 0 16rpx;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.item-desc-text {
  color: #878b99;
}
.item-active-text {
  color: #ff4500;
}