<view class="scenic-list">
  <view class="scenic-item" data-id="{{scenicData.id}}" bindtap="toScenicIntroDetail">
    <view class="image-view">
      <view class="player" wx:if="{{scenicData.voiceUrl}}" catchtap="audioPlay" data-voiceid="{{scenicData.voiceId}}" data-id="{{scenicData.id}}" data-voiceurl="{{scenicData.voiceUrl}}" data-title="{{scenicData.scenicName}}">
        <view class="player-btn">
          <image class="player-img" wx:if="{{(scenicData.voiceId === backgroundAudioId) && (!backgroundAudioPause)}}" src="../../../../img/stop.png" />
          <image class="player-img" wx:else src="../../../../img/start.png" />
        </view>
      </view>
      <image wx:if="{{scenicData.coverImagesUrl}}" mode="aspectFill" src="{{scenicData.coverImagesUrl}}" class="scenic-image" />
      <image wx:else mode="aspectFill" src="../../../../img/no-picture.png" class="scenic-image" />
    </view>
    <view class="scenic-info">
      <view class="scenic-title">{{scenicData.scenicName || '暂无数据'}}</view>
      <view class="scenic-desc">
        <!-- <text>评分: {{scenicData.rank || '暂无数据'}}</text>
        <view class="open-time">时间：{{scenicData.openingTime}}</view> -->
        <star-item starNumber="{{scenicData.rank}}" />
      </view>
      <view class="scenic-desc">开放时间: {{scenicData.openingTime || '暂无数据'}}</view>
    </view>
  </view>
</view>