<view class="container">
  <view class="header">
    <view class="header-item" bindtap="toggleSortModal">
      {{sortNum === '0' ? '距离排序' : '评分排序'}}
      <image class="icon-drop" mode="aspectFill" src="../../../../../img/icon-drop.png" style="transform: rotate({{isSortModalShow ? 180 : 0}}deg)" />
    </view>
    <view class="header-item" bindtap="toMap">地图模式</view>
  </view>
  <scroll-view scroll-y="{{true}}" class="scroll-view" lower-threshold="{{50}}" bindscrolltolower="more" scroll-top="{{scrollTop}}" >
    <view wx:for="{{restList}}" wx:key="id" class="restaurant-item" data-id="{{item.id}}" bindtap="toDetail">
      <view class="image-view">
        <image mode="aspectFill" wx:if="{{item.imgUrl}}" src="{{item.imgUrl}}" class="restaurant-image" />
        <image mode="aspectFit" wx:else src="../../../../../img/no-picture.png" class="restaurant-image" />
      </view>
      <view class="restaurant-info">
        <view class="restaurant-title">{{item.restaurantName || '暂无数据'}}</view>
        <view class="restaurant-desc">
          <star-item starNumber="{{item.scoreNum}}" />
          <text class="price-text">{{item.avgPrice || '暂无人均'}}</text>
          <text class="type-text">{{item.type || ''}}</text>
        </view>
        <view class="restaurant-desc">
          <text class="distance-text">距您{{item.distanceStr}}</text>
          <block wx:if="{{item.tagList}}">
            <view class="tag-item" wx:for="{{item.tagList}}" wx:key="index" wx:for-item="tagItem">
              {{tagItem}}
            </view>
          </block>
        </view>
      </view>
    </view>
  </scroll-view>
  <cover-view class="modal" wx:if="{{isSortModalShow}}">
    <cover-view class="modal-fill" bindtap="closeSortModal"></cover-view>
    <cover-view class="modal-container">
      <cover-view class="modal-content">
        <cover-view class="modal-content-item" data-sortNum="0" bindtap="sortBy" style="color: {{sortNum === '0' ? '#f50' : '#333'}}">距离排序</cover-view>
        <cover-view class="modal-content-item" data-sortNum="1" bindtap="sortBy" style="color: {{sortNum === '1' ? '#f50' : '#333'}}">评分排序</cover-view>
      </cover-view>
    </cover-view>
  </cover-view>
</view>