.scenic-list {
  padding: 20rpx 30rpx 0 30rpx;
}
.scenic-item {
  position: relative;
  display: flex;
  margin-bottom: 10px;
  font-size: 12px;
  width: 440rpx;
}

.image-view {
  position: relative;
  display: flex;
  overflow: hidden;
}

.scenic-image {
  border-radius: 6rpx;
  width: 120rpx;
  height: 120rpx;
}

.scenic-info {
  flex: 1;
  overflow: hidden;
  margin-left: 16rpx;
}

.scenic-title {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 6rpx;
  color: #333;
}

.scenic-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #999;
  margin-bottom: 6rpx;
  display: flex;
}

.recommend-img {
  width: 24px;
  height: 24px;
  z-index: 9;
  position: absolute;
  top: 0px;
  right: 0px;
}

.more {
  position: relative;
  box-sizing: border-box;
  padding: 20rpx 0;
  font-size: 14px;
  text-align: center;
  color: #1890ff;
}

.more::after {
  content: "";
  display: block;
  width: 500rpx;
  height: 1rpx;
  background-color: #eee;
  position: absolute;
  top: 0;
  left: -30rpx;
}

.recommend-label {
  border: 1px solid #F55A16;
  box-sizing: border-box;
  padding: 0px 2px;
  border-radius: 2px;
  font-size: 10px;
  color: #F55A16;
  margin-left: 10px;
}

.player {
  width: 120rpx;
  height: 120rpx;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-btn {
  width: 46rpx;
  height: 46rpx;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-img {
  width: 32rpx;
  height: 32rpx;
}