<view class="message-main" wx:if="{{hasData}}">
  <view class="message-container">
    <view class="customer-message-container">
      <image class="avatar customer-avatar" src="../../../../img/avatar.png"></image>
      <view class="message customer-message">
        <view class="message-padding">
          <view class="rich-text-container">
            <view wx:for="{{richArr}}" wx:for-index="index" wx:for-item="richItem" wx:key="rich-{{index}}">
              <block wx:for="{{richItem}}" wx:for-item="item" wx:for-index="richIndex" wx:key="richItem-{{richIndex}}">
                <text selectable="{{true}}" wx:if="{{item.type === 'text'}}">{{item.data}}</text>
                <text class="strong-text" wx:elif="{{item.type === 'strong'}}">{{item.data}}</text>
                <text selectable="{{true}}" class="phone" wx:elif="{{item.type === 'phone'}}" data-phone="{{item.data}}" bindtap="phoneCall">{{item.data}}</text>
                <block wx:if="{{item.type === 'wxapp_link'}}">
                  <wxapp-link linkStr="{{item.data}}" />
                </block>
                <block wx:if="{{item.type === 'web_url'}}">
                  <web-url urlString="{{item.data}}" />
                </block>
                <image class="rich-text-image" wx:elif="{{item.type === 'img'}}" data-imageurl="{{item.data}}" mode="aspectFill" bindtap="showImageDetail" src="{{item.data}}" />
                <view wx:elif="{{item.type === 'h1'}}" class="h1">
                  <text>{{item.data}}</text>
                </view>
                <view wx:elif="{{item.type === 'h2'}}" class="h2">
                  <text>{{item.data}}</text>
                </view>
                <view wx:elif="{{item.type === 'h3'}}" class="h3">
                  <text>{{item.data}}</text>
                </view>
              </block>
            </view>
          </view>
        </view>
      </view>
    </view>
  </view>
</view>