.hotel-item {
  display: flex;
  margin-bottom: 10px;
  font-size: 12px;
  width: 440rpx;
}

.image-view {
  display: flex;
  overflow: hidden;
}

.hotel-image {
  border-radius: 6rpx;
  width: 120rpx;
  height: 120rpx;
}

.hotel-info {
  flex: 1;
  overflow: hidden;
  margin-left: 16rpx;
}

.hotel-title {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 6rpx;
  color: #333;
}

.hotel-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #999;
  margin-bottom: 6rpx;
}

.price-text {
  margin-left: 8px;
  color: #f50;
}