<view >
  <view wx:for="{{tourline}}" wx:key="id" class="tourline-item" bindtap="tourRoute" data-tourline="{{item}}" data-id="{{item.id}}">
    <view class="line-name">{{item.lineName}}</view>
    <view class="scenic-number">景点数{{item.tourlineDetailInfoList ? item.tourlineDetailInfoList.length : '0'}}个</view>
    <image class="arrow" src="../../../../img/arrow.png" />
  </view>
</view>