page {
  height: 100%;
  background-color: #f6f6f6;
  position: relative;
}

.container {
  position: relative;
  height: 100%;
}

.header {
  z-index: 9;
  height: 40px;
  background-color: #fff;
  display: flex;
}

.header-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-drop {
  width: 8px;
  height: 6px;
  margin-left: 7px;
  display: inline-block;
}

.scroll-view {
  position: absolute;
  top: 41px;
  bottom: 0;
  width: 100%;
}

.hotel-item {
  background-color: #fff;
  display: flex;
  margin-bottom: 5px;
  font-size: 12px;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
}

.image-view {
  display: flex;
  overflow: hidden;
}

.hotel-image {
  border-radius: 6rpx;
  width: 140rpx;
  height: 140rpx;
}

.hotel-info {
  flex: 1;
  overflow: hidden;
  margin-left: 16rpx;
}

.hotel-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  margin-bottom: 6rpx;
  color: #333;
}

.hotel-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333;
  margin-bottom: 6rpx;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.price-text {
  margin-left: 8px;
  font-size: 12px;
}

.type-text {
  margin-left: 12px;
}

.distance-text {
  margin-right: 10px;
}

.tag-item {
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #f50;
  border-radius: 2px;
  color: #f50;
  padding: 0 4px;
  margin-right: 5px;
}

.modal {
  z-index: 999;
  position: fixed;
  top: 40px;
  bottom: 0;
  width: 100%;
}

.modal-fill {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
  background-color: #fff;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
}

.modal-content-item {
  height: 50px;
  padding: 0 30px;
  font-size: 14px;
  line-height: 50px;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
}